/*
 * Copyright (c) 2021 @MangoIV
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
                &kp Q  &kp F  &kp C  &kp K  &kp X                &kp SPC  &kp W  &kp O    &kp U  &kp Z
                &kp R  &kp S  &kp T  &kp H  &kp D                &kp V    &kp N  &kp A    &kp I  &kp L
                &kp Y  &kp B  &kp G  &kp P  &kp COMMA    &none   &kp SPC  &kp M  &kp DOT  &kp J  &kp SEMI
                               &bootloader  &kp SPACE                &kp E  &reset  
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
